@charset "utf-8";
@import url(commons/reset.css);
@import url(commons/header.css);
@import url(commons/footer-sub.css);
@font-face {
    font-family: 'NanumSquare';
    src: local('font/NanumSquare'),
        url('../font/NanumSquareR.ttf'),
        url('../font/NanumSquareR.eot'),
        url('../font/NanumSquareR.woff');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.ttf'),
        url('../font/NanumSquareL.eot'),
        url('../font/NanumSquareL.woff');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumSquareB.ttf'),
        url('../font/NanumSquareB.eot'),
        url('../font/NanumSquareB.woff');
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../font/NanumSquareEB.ttf'),
        url('../font/NanumSquareEB.eot'),
        url('../font/NanumSquareEB.woff');
}

html,body {
    font-family: 'NanumSquare';
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #1c1c1b;
}


figure {
    max-width: 100%;
    height: 500px;
    position: relative;
    background: url(../img/02_about/sub01_figure-bg.jpg) no-repeat;
    /* background-position:  -1300px -150px;
    background-size: cover; */
    background-attachment: fixed;
    font-family: 'Noto Sans KR', sans-serif !important;
}

#container{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}

#figureTxt {
    max-width: 1024px;
    margin: 0 auto;
    padding: 160px 20px 0 20px;
    color: #f9f9f9;
}
#figureTxt > h2 {
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 75px;
    margin-bottom: 50px;
}
#figureTxt > span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
#figureTxt > .fa-home, .right {
    color: #FFB300;
    font-size: 14px;
}


#container {
    max-width: 100%;
    margin: 50px auto;
    position: relative;
}
#section1 {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
}

.title {
    position: relative;
    max-width: 1024px;
    margin: 50px auto;
    padding: 0 20px;
    z-index: 1;
}
.title > h3, h4, h5 {
    font-weight: 400;
    font-family: 'Noto Sans KR', sans-serif !important;
    font-size: 30px;
    letter-spacing: 2px;
}
.title > h4 {
    color: #f9f9f9;
}
#section1 .title:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 70%;
    height: 3px;
    background: #FFB300;
}

#section1 > .section1Img {
    width: 100%;
    height: 600px;
    position: relative;
}
#section1 > .section1Img:after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    height: 600px;
    background: #008837;
    right: 0;
    top: 50px;
    z-index: -500;
}
#section1 > .section1Img > img {
    width: 95%;
    height: 600px;
}

#section1 > .section1Txt {
    width: 100%;
    margin: 50px 0;
    padding: 70px 20px 0 20px;
}
#section1 > .section1Txt > span {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    color: #1c1c1b;
}
#section1 > .section1Txt > p {
    font-size: 18px;
    line-height: 35px;
    margin: 30px 0;
}

#section2 {
    max-width: 100%;
    position: relative;
    height: 500px;
    background: url(../img/02_about/sub01_sec02-bg.jpg) no-repeat 55%;
    background-size: cover;
    background-attachment: fixed;
    padding: 10px 0;
    z-index: -10;
}

#section2 .title:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 68%;
    height: 3px;
    background: #FFB300;
}

#section2 > ul {
    max-width: 1024px;
    margin: 90px auto;
}
#section2 > ul:after {
    content: '';
    display: block;
    clear: both;
}
#section2 > ul > li {
    float: left;
    width: 25%;
    text-align: center;
}
#section2 > ul > li > img {
    width: 40%;
}
#section2 > ul > li > span {
    display: block;
    color: #008837;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
}
#section2 > ul > li > p {
    color: #efeeee;
    font-size: 18px;
    padding: 10px 20px;
}

#section3 {
    max-width: 1024px;
    margin: 100px auto 200px auto;
    position: relative;
}

#section3 .title:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 20px;
    width: 65%;
    height: 3px;
    background: #FFB300;
}


#section3 > ul {
    max-width: 100%;
    position: relative;
}
#section3 > ul:after {
    content: '';
    display: block;
    clear: both;
}
#section3 > ul > li {
    width: 32%;
    height: 300px;
    float: left;
}
#section3 > ul > li:first-child {
    background: url(../img/02_about/sub01_sec03_img01.jpg) 50% 50% no-repeat;
    background-size: cover;
}
#section3 > ul > li:nth-child(2) {
    background: url(..//img/02_about/sub01_sec03_img02.jpg) 50% 50% no-repeat;
    background-size: cover;
    margin: 0 2%;
}
#section3 > ul > li:nth-child(3) {
    background: url(../img/02_about/sub01_sec03_img03.jpg) 50% 50% no-repeat;
    background-size: cover;
}


#section3 > ul > li > p {
    width: 80%;
    height: 250px;
    margin: 180px auto 0 auto;
    background: #fff;
    padding: 30px;
    font-size: 17px;
    line-height: 25px;
    box-shadow: 0px 5px 20px 1px #58585828;
    cursor: pointer;
}

#section3 > ul > li > p:hover{
    transform: scale(0.9);
    transition: .5s;
    background: #000;
    color: #fff;
}


.num {
    display: block;
    color: #008837;
    font-weight: bold;
    font-size: 30px;
}
strong {
    display: block;
    font-size: 23px;
    padding: 20px 0;
}





@media (min-width: 1025px) and (max-width: 1280px) {



}

@media (min-width: 768px) and (max-width: 1024px) {
    #section1 .title:after {
        top: 25px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }

    #section2 .title:after {
        top: 25px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }

    #section3 .title:after {
        top: 25px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }

    
}

@media (min-width: 481px) and (max-width: 767px) {
    .title {
        max-width: 100%;
    }
    .title > h3, h4, h5 {
        font-size: 28px;
    }
    .title:after {
        left: 20px;
        top: 50px;
        width: 95%;
    }

    
    #figureTxt > h2 {
        font-size: 65px;
    }

    #section1 .title:after {
        top: 25px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }

    #section2 .title:after {
        top: 25px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }
    
    #section1 > .section1Img {
        height: 450px;
    }
    #section1 > .section1Img:after {
        height: 450px;
    }
    #section1 > .section1Img > img {
        height: 450px;
    }

    #section1 > .section1Txt {
        padding: 50px 20px 0 20px;
    }
    #section1 > .section1Txt > span {
        font-size: 23px;
        line-height: 30px;
    }
    #section1 > .section1Txt > p {
        font-size: 16px;
        line-height: 33px;
    }
    
    
    #section2 {
        height: 450px;
    }

    #section2 .title:after {
        top: 25px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }

    #section2 > ul {
        max-width: 100%;
    }
    #section2 > ul > li > img {
        width: 45%;
    }
    #section2 > ul > li > span {
        font-size: 18px;
    }
    #section2 > ul > li > p {
        font-size: 16px;
    }
    
    
    #section3 {
        max-width: 100%;
        margin: 50px auto 70px auto;
    }

    #section3 .title:after {
        top: 25px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }

    #section3 > ul > li {
        width: 96%;
        margin: 30px 2%;
        height: 250px;
    }
    #section3 > ul > li:first-child {
        margin-top: 20px;
    }

    #section3 > ul > li > p {
        height: 200px;
        margin: 25px auto 0 auto;
        background: rgba(255,255,255,0.8);
        font-size: 16px;
    }
    .num {
        font-size: 28px;
    }
    strong {
        font-size: 21px;
        padding: 20px 0;
    }


    
    
}

@media all and (max-width: 480px) {
    .title {
        max-width: 100%;
    }
    .title > h3, h4, h5 {
        font-size: 25px;
    }
    .title:after {
        left: 20px;
        top: 50px;
        width: 90%;
    }


    
    #figureTxt > h2 {
        font-size: 55px;
    }
    #figureTxt > span {
        font-size: 15px;
    }
    #figureTxt > .fa-home, .right {
        font-size: 13px;
    }

    #section1 .title:after {
        top: 20px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }
    
    #section1 > .section1Img {
        height: 300px;
    }
    #section1 > .section1Img:after {
        display: none;
    }
    #section1 > .section1Img > img {
        height: 300px;
        display: block;
        margin: 0 auto;
    }

    #section1 > .section1Txt {
        padding: 0 20px 0 20px;
    }
    #section1 > .section1Txt > span {
        font-size: 20px;
        line-height: 28px;
    }
    #section1 > .section1Txt > p {
        font-size: 15px;
        line-height: 30px;
    }
    
    #section2 {
        height: 500px;
    }

    #section2 .title:after {
        top: 20px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }

    #section2 > ul {
        max-width: 100%;
        margin: 30px auto;
    }
    #section2 > ul > li {
        width: 50%;
    }
    #section2 > ul > li > img {
        width: 30%;
    }
    #section2 > ul > li > span {
        font-size: 16px;
        margin-top: 30px;
    }
    #section2 > ul > li > p {
        font-size: 14px;
        padding: 10px 20px 30px 20px;
    }
    
    
    #section3 {
        max-width: 100%;
        margin: 50px auto 50px auto;
    }

    #section3 .title:after {
        top: 20px;
        width: 90%;
        height: 15px;
        z-index: -10;
    }

    #section3 > ul > li {
        width: 96%;
        margin: 30px 2%;
        height: 250px;
    }
    #section3 > ul > li:first-child {
        margin-top: 0;
    }

    #section3 > ul > li > p {
        height: 200px;
        margin: 25px auto 0 auto;
        background: rgba(255,255,255,0.8);
        font-size: 15px;
        line-height: 20px;
    }
    .num {
        font-size: 26px;
    }
    strong {
        font-size: 19px;
        padding: 20px 0;
    }

    

}
