@charset "utf-8";
@import url(commons/reset.css);
@import url(commons/header.css);
@import url(commons/footer-sub.css);
@font-face {
    font-family: 'NanumSquare';
    src: local('font/NanumSquare'),
        url('../font/NanumSquareR.ttf'),
        url('../font/NanumSquareR.eot'),
        url('../font/NanumSquareR.woff');
}
@font-face {
    font-family: 'NanumSquareL';
    src: url('../font/NanumSquareL.ttf'),
        url('../font/NanumSquareL.eot'),
        url('../font/NanumSquareL.woff');
}
@font-face {
    font-family: 'NanumSquareB';
    src: url('../font/NanumSquareB.ttf'),
        url('../font/NanumSquareB.eot'),
        url('../font/NanumSquareB.woff');
}
@font-face {
    font-family: 'NanumSquareEB';
    src: url('../font/NanumSquareEB.ttf'),
        url('../font/NanumSquareEB.eot'),
        url('../font/NanumSquareEB.woff');
}

html,body {
    font-family: 'NanumSquare';
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #1c1c1b;
}

figure {
    max-width: 100%;
    height: 500px;
    position: relative;
    background: url(../img/04_news/sub03_figure-bg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Noto Sans KR', sans-serif !important;
}

#figureTxt {
    max-width: 1024px;
    margin: 0 auto;
    padding: 160px 20px 0 20px;
    color: #f9f9f9;
}
#figureTxt > h2 {
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 75px;
    margin-bottom: 50px;
}
#figureTxt > span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}
#figureTxt > .fa-home, .right {
    color: #FFB300;
    font-size: 14px;
}

#container {
    max-width: 100%;
    margin: 50px auto;
    position: relative;
}

section {position: relative; max-width: 1024px; margin: 0 auto;}

#section_1 {position: relative; margin: 0 auto; max-width: 1024px; margin-top: 50px;}
	
#section_1 .searchbox {width: 100%; margin: 0 auto; text-align: center; margin-bottom: 5%; }
#section_1 .searchbox .selectbox {border: 1px solid #1c3963; width: 180px; vertical-align: middle; height: 55px; text-indent: 20px; margin-right: 30px; font-size: 15px; font-family: 'NanumSquareB';}
.text::appearance {padding-right: 50px;}
#section_1 .searchbox .text {width: 35%;  border: 1px solid #1e3963; font-size: 15px; height: 55px;  text-indent: 1vw; vertical-align: middle; font-family: 'NanumSquareB';}
#section_1 .searchbox .text::placeholder {color: #424242;  font-family: 'NanumSquareB'; }
.btn {
    border: 0;
    background: #008837;
    color: #f9f9f9;
    width: 60px;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
    margin-left: -4px;
}
 
    
#section_1 .news {width: 1024px; margin: 0 auto;}
#section_1 .news tbody{font-family: 'NanumSquareR';}
#section_1 .news thead {border-top: 3px solid #008837; border-bottom: 1px solid #e6e6e6;}
#section_1 .news thead tr td {font-family: 'NanumSquareEB'; font-size: 19px; padding: 15px; text-align: center;}
#section_1 .news thead tr td.hnumber {width: 15%; }
#section_1 .news thead tr td.hname {width: 65%;}
#section_1 .news thead tr td.hdate {width: 20%;}
#section_1 .news tbody {margin: 0; padding: 0;}

#section_1 .news tbody tr td {padding: 20px 0; border-bottom: 1px solid #e6e6e6; font-size: 16px;}
#section_1 .news tbody tr td.number {width: 15%; text-align: center; }
#section_1 .news tbody tr td.name {width: 70%; text-align: left; padding-left: 2%;}
#section_1 .news tbody tr td.name>a:hover{
    color:#008837;
    font-weight: bold;
}
#section_1 .news tbody tr td.date {width: 15%; text-align: center;}

#section_1 .page_num {width: 100%; font-size: 18px; text-align: center; margin: 5% auto; display: inline-block; position: relative;}
#section_1 .page_num .prev {display: inline-block; width: 36px; height: 35px; background: url(../img/04_news/sub03_page_prevBtn.png); position: relative; top: 10px; margin-right: 1%; background-size: cover;}
#section_1 .page_num .num_1 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#section_1 .page_num .num_2 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#section_1 .page_num .num_3 {display: inline-block; width: 36px; height: 35px; line-height: 35px; margin-right: 1%;}
#section_1 .page_num .next {display: inline-block; width: 36px; height: 35px; background: url(../img/04_news/sub03_page_nextBtn.png); margin-right: 1%; position: relative; top: 10px; background-size: cover;}
.onClick{ border-bottom: 2px solid #008837; font-family: "NanumSquareEB"; font-size: 19px;  font-weight: bold; color: #008837;}
.page_num > a:hover {
    background: #008837;
    color: #f9f9f9;
}

/*미디어쿼리*/
@media (min-width: 768px) and (max-width: 1024px) {
    section {
        max-width: 100%;
    }

    #section_1 {
        max-width: 95%; 
    }

    #section_1 .news {
        width: 95%;
    }

    #section_1 .news tbody tr td{
        font-size: 14px;
    }
    
}

@media (min-width: 481px) and (max-width: 767px) {
    #figureTxt > h2 {
        font-size: 65px;
    }

    section {
        max-width: 100%;
    }

    #section_1 {
        max-width: 95%; 
    }

    #section_1 .news {
        width: 95%;
    }
    
    #section_1 .news tbody {margin: 0; padding: 0;}
    #section_1 .news thead tr td { font-size: 16px; padding: 15px; }
    #section_1 .news tbody tr td {padding: 15px 0; font-size: 12px;}
    
    #section_1 .searchbox .selectbox { width: 160px; height: 50px; font-size: 14px;}
    #section_1 .searchbox .text { height: 50px; font-size: 14px;}
    .btn {
        width: 60px;
        height: 50px;
        line-height: 50px;
    }
    
}

@media all and (max-width: 480px) {   
    #figureTxt > h2 {
        font-size: 55px;
    }
    #figureTxt > span {
        font-size: 15px;
    }
    #figureTxt > .fa-home, .right {
        font-size: 13px;
    }

    section {
        max-width: 100%;
    }

    #section_1 {
        max-width: 95%; 
    }

    #section_1 .news {
        width: 95%;
    }
    
    
    #section_1 .news tbody {margin: 0; padding: 0;}
    #section_1 .news thead tr td { font-size: 15px; padding: 10px; }
    #section_1 .news tbody tr td {padding: 15px 0; font-size: 10px;}
    
    #section_1 .searchbox .selectbox { width: 100px; height: 40px; font-size: 13px; margin-right: 10px;}
    #section_1 .searchbox .text { height: 40px; width: 45%; font-size: 12px;}
    .btn {
        width: 50px;
        height: 40px;
        line-height: 40px;
    }

    #section_1 .page_num { font-size: 16px;}
    #section_1 .page_num .prev { width: 31px; height: 30px; }
    #section_1 .page_num .num_1 { width: 31px; height: 31px; line-height: 31px; }
    #section_1 .page_num .num_2 { width: 31px; height: 31px; line-height: 31px; }
    #section_1 .page_num .num_3 { width: 31px; height: 31px; line-height: 31px; }
    #section_1 .page_num .next { width: 32px; height: 31px; }
    .onClick{ font-size: 17px; }

}
